# ----------------------------------------------------------------------------------------------------------------------
# Git - gitignore
# ----------------------------------------------------------------------------------------------------------------------
.claude/tmp

CHANGELOG.md

# ----------------------------------------------------------------------------------------------------------------------
# Directory - app
# ----------------------------------------------------------------------------------------------------------------------

app/node_modules
app/.*.py

# ----------------------------------------------------------------------------------------------------------------------
# Directory - node_modules
# ----------------------------------------------------------------------------------------------------------------------

node_modules

# ----------------------------------------------------------------------------------------------------------------------
# Directory - tools - IDE - VSCode
# ----------------------------------------------------------------------------------------------------------------------
.idea
.vscode-test/
*.vsix
.env

.*.py
