# ----------------------------------------------------------------------------------------------------------------------
# Git - gitignore
# ----------------------------------------------------------------------------------------------------------------------
.claude/tmp/

CHANGELOG.md

# ----------------------------------------------------------------------------------------------------------------------
# Directory - app
# ----------------------------------------------------------------------------------------------------------------------

app/node_modules

# ----------------------------------------------------------------------------------------------------------------------
# Directory - node_modules
# ----------------------------------------------------------------------------------------------------------------------

node_modules

# ----------------------------------------------------------------------------------------------------------------------
# Directory - tools - IDE - VSCode
# ----------------------------------------------------------------------------------------------------------------------

.vscode-test/
*.vsix
.env
