# ----------------------------------------------------------------------------------------------------------------------
# Git - gitignore
# ----------------------------------------------------------------------------------------------------------------------

# ----------------------------------------------------------------------------------------------------------------------
# Directory - app
# ----------------------------------------------------------------------------------------------------------------------

app/node_modules


# ----------------------------------------------------------------------------------------------------------------------
# Directory - node_modules
# ----------------------------------------------------------------------------------------------------------------------

node_modules

.vscode-test/
*.vsix
.env
